services:
  server:
    build:
      context: .
    environment:
      NODE_ENV: production
    ports:
      - "4200:80"
    healthcheck:
      test: [ 'CMD-SHELL', 'wget -qO- http://localhost:80/ || exit 1' ]
      interval: 10s
      timeout: 5s
      retries: 3
