// filepath: /Users/mariokreitz/dev/github/log-chaos-visualizer/src/app/pages/about/about.scss
.about {
  display: grid;
  gap: var(--space-3);
  padding-bottom: var(--space-3);
}

.about h3 {
  margin-top: var(--space-2);
}
